body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top left, green, red);
}

h1 {
  font-family: sans-serif;
  font-size: 40px;
  line-height: 1.3;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: white;
}

h2 {
  font-family: sans-serif;
  font-size: 30px;
  line-height: 1;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: black;
}
